








 body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.parent{
  display: flex;
  min-width: 100%;
}

.card{
  min-height: 250px;
  width: 20%;
  background: blue;
  min-width: 400px;
  border: 0px;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  cursor: context-menu;
  background: -moz-linear-gradient(to bottom right, yellow, violet);
  background: linear-gradient(to bottom right, yellow, violet);
  align-items: center;
  justify-content: center;
  transition: all 2s ease-in-out;
  /* display:block; */
}

.small-plus{
  color: black;
  border:0;
  margin: 0 10px;
  cursor: pointer;
  background: none;
}

.task{
  display: flex;
}

.task-list{
  display: block;
  /* background: red; */
}

.task-list,.small-plus,.card-name{
  margin-bottom: 15px;
}

.task-name,.big-trash,.big-edit{
  margin-left:10px;
  background: none;
  border: none;
}

.fa-trash,.fa-edit{
  float: right;
}

.task-name{
  /* background-color: red; */
  color:black;
  /* max-width: 50px; */
}

ul{
  list-style: none;
}