 body {
  background-color: black;
  margin: 0;
  padding: 0;
}

header {
  background: black;
  margin: 0;
  height: 10vh;
  text-align: center;
}
#big-plus {
  position: absolute;
  right: 10%;
  top: 10%;
  cursor: pointer;
  font-size: 2em;
}

#parent-folder {
  /* background-color: red; */
  width: 100%;
  display: block;
  margin-top: 20px;
  align-items: center;
}
/* ************text************ */
.big-text {
  color: white;
  font-size: 8vh;
  line-height: 10vh;
  font-family: monospace;
  margin: 0 auto 0 auto;
  justify-items: center;
  left: 45%;
  animation: fade-in 0.5s infinite alternate;
}
.childFolder {
  height: 600px;
  width: 20%;
  min-width: 400px;
  border: 0px;
  border-radius: 10px;
  margin: 20px;
  align-self: center;
  background: -moz-linear-gradient(to bottom right, #31afd5, black);
  background: linear-gradient(to bottom right, #31afd5, black);
  align-items: center;
  justify-content: center;
  transition: all 2s ease-in-out;
}
.childFolder h1 {
  color: white;
  font-size: 5vh;
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
